<div id="<%= dom_id tipo_evento %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= tipo_evento.descricao %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tipo evento", tipo_evento, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this tipo evento', edit_tipo_evento_path(tipo_evento), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
