<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing tipo evento</h1>

  <%= render "form", tipo_evento: @tipo_evento %>

  <%= link_to "Show this tipo evento", @tipo_evento, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to tipo eventos", tipo_eventos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
