<%= link_to edit_estatistica_path(estatistica), id: dom_id(estatistica), data: { turbo: false } do %>
  <div class="max-w-md p-4 bg-white border border-gray-300 rounded-lg shadow">
    <p class="text-blue-600 text-md font-bold"><%= estatistica.tema_culto %></p>
    <p class="text-sm font-normal text-gray-700">Data     : <%= estatistica&.data_culto&.strftime('%d/%m/%Y') %></p>
    <p class="text-sm font-normal text-gray-700">Presentes: <%= estatistica.total_presentes || 0 %> pessoas</p>
  </div>
<% end %>